/* 여백 초기화 */
body,div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset, legend, p, select, table, th, td, tr, textarea, button, form {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

/* a태그 초기화 */
a{
    color: #282C37;
    text-decoration: none;
    text-decoration-line: none;
}
a:hover{
    color: #2B90D9;
}

/* 기본 글자색 지정 */
span{
    color: #282C37;
}

/* 페이지 내의 스크롤바 없애기 */
body{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}